body {
font-family: 'Quicksand', sans-serif;
background-color: black;
}

h1 {
    color: gold;
}

h2 {
    color: whitesmoke;
    font-size: 18px;
}

p {
    color: lightgrey;
    font-size: 18px;
}

a {
    color:wheat;
    
}
a:hover {
    color:gold;
}

.budgie-azul {
    width: 300px;
    border-radius: 25px;
}

.container {
    margin: 0 auto;
    max-width: 1100px;
    padding: 0 2em;
}

img {
    max-width: 100%;
    border-radius: 25px;
}

.column {
    display: flex;
}

.split {
    display: flex;
}

.extra-space {
    margin-top: 1rem;
}

.col {
    margin: 0 1em;
}

.background-dark {
    background-color: darkcyan;
    padding-top: 10px;
}